h1{
    color: orange;
}

h1 a:hover{
    color: red;
}

.chess_board {
    box-shadow: 5px 10px #888888;
}

.chess_board_1:hover{
    border-radius: 15px 50px 10px 50px;
}

.hovered_item:hover{
    color: orange;
}

h1 a:visited{
    color: pink;
}