div{
  width: 150px;
  height: 150px;
  display: inline-block;

}
div:hover{
  background: blueviolet;
  transition-property:background, border-radius;
  transition-duration: 0.2s, 0.2s;
}

.one{
  background: red;
}
.two{
  background: green;
}
.three{
  background: blue;
  
}
.one:hover{
  border-radius: 50%;
}
.two:hover{
  border-radius: 50%;
}
.three:hover{
  border-radius: 50%;
}